*{
  box-sizing: border-box;
  margin: 15px;
  padding: 0px;
 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
    font-family: 'poppins'; 
      /* border-style: solid;
    border-width: .5px; */
 }

 
output{
  
 position: relative;
 align-self: center;
 margin-left:35px ;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  
}