*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
    font-family: 'poppins'; 
 }

 :root {
  background: linear-gradient(135deg, #f0f0f0 , #f3eee6 );
  font-size: 1.5vh;
  font-family: 'poppins';
}
ehh > *:hover{
   
}
 
[currentstate="mousemove"]{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   
}

[currentstate="mousemove"]::before{
  content: attr(currentstate);
  color: #1e2326;
  position: absolute; 
  display:block;
  background-color: yellow;
  z-index: -1;
  border-style: solid;
  border-width: thin;
}

[currentstate="click"]::before{
  content: "yo";
  position: absolute;
  display:block;
  width:100%;
  border-style: solid;
  border-width: thin;
}




*:focus{
  border:none;
  outline:none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}

body{
  position: absolute; 
  right: 0;
  bottom: 0; 
  height: 100vh;
}

ehh{
  position: fixed; 
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows:  1fr auto;
  z-index: 250;
}



content{
 position: relative;
 align-self: center;
  height: 100vh;
  width: 100vw;
display: grid;
grid-column: 1 / 4;

  
}
section{ 
 display: grid;
 width: 100%;
 height: 100%;
 top: 50%;
 padding-top: 13%;
 
}

container{
  align-self: center;
  position: relative;
  padding: 8%;
}

footer {  
  padding: 2rem;
  padding-right: 5%;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vh;
}

actionBar{
margin-top: 5px;
}

button {
  margin-top: 1vh;
  margin-right: 1vh;
  border-radius: 3px;
  border: none;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  font-family: 'poppins'; 
  display: inline-block;  
  background-color: transparent;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.05);
}

h1{
  font-family: 'Bai Jamjuree', sans-serif;
  color: #1e2326;
  font-size: 5vh;
  margin-bottom: 34px;
  font-weight: 200;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 0.125rem 0.125rem rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02), 8px 8px rgba(0, 0, 0, 0.02), 9px 9px rgba(0, 0, 0, 0.02), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.02), 11px 11px rgba(0, 0, 0, 0.02), 12px 12px rgba(0, 0, 0, 0.02), 13px 13px rgba(0, 0, 0, 0.02), 14px 14px rgba(0, 0, 0, 0.02), 0.625rem 0.625rem rgba(0, 0, 0, 0.02), 16px 16px rgba(0, 0, 0, 0.02), 17px 17px rgba(0, 0, 0, 0.02), 18px 18px rgba(0, 0, 0, 0.02);
}


p{
  margin-top: 13px;
  margin-bottom: 13px;
  color: #1e2326;
}

#context-menu {
  position: fixed;
  z-index:10000;
  width:150px;
  padding: 5px;
  background:#fff4f5;
  box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.10);
  border-radius:5px;
  transform:scale(1);
  transform-origin:top left;

}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-family: 'Bai Jamjuree', sans-serif;
  font: size 1.3vh;;
  color:black;
}
#context-menu .item:hover {
  background:#e9e9e9 ;
}
#context-menu .item i {
  display:inline-block;
  margin-right:8px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:rgb(173, 173, 173);
}
 /* Extra Small Devices, Phones */ 
        @media only screen and (max-width : 480px) {

h1{
   font-size: 3vh;
   text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 0.125rem 0.125rem rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02), 8px 8px rgba(0, 0, 0, 0.02), 9px 9px rgba(0, 0, 0, 0.02), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.02), 11px 11px rgba(0, 0, 0, 0.02), 12px 12px rgba(0, 0, 0, 0.02), 13px 13px rgba(0, 0, 0, 0.02);
}
body >* {
   font-size: 1.2vh;

}

        }
