*{
  box-sizing: border-box;
  margin: 2 px;
  padding: 2px;
 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
    font-family: 'poppins'; 
 }
body {
     
    background: #e16a3f;
    width: 100vw;
  height: 100vh;
      margin: 15vw;
    padding: 0px;

}

  /* Content */
.content {
    min-height: 200px;
    border: 1px solid #ecf0f1;
    border-top: 0px;
    padding: 21px;
    resize: none;

}
.content:focus{
      box-shadow: 0 10px 20px Orgba(0, 0, 0, 0.10);
    		border-radius: .5rem;

  
outline: none;
     border-top: 0px;
}




